################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
# the project part is maybe the only one you will need to modify for a new
# project
[project]
eggs-directory=${buildout:directory}/../../eggs/cache
develop-eggs-directory=${buildout:directory}/develop-eggs

directory=${buildout:directory}/../../
dependencies=${buildout:directory}/../../dependencies
parts =
    part
#########################################
# Buildout settings
# Modify at your own risks
#########################################
[buildout]
python = python2.4
executable = python2.4
versions = versions
parts = ${project:parts}
hooks-directory = ${buildout:directory}/hooks
parts-directory = ${parts:directory}
eggs-directory = ${project:eggs-directory}
develop-eggs-directory = ${project:develop-eggs-directory}
develop =

# Set our 2.4 python
[python2.4]
executable=${project:dependencies}/python-2.4/part/bin/python
name=python2.4

[versions]
bopen.recipe.libinc = 0.2.1
hexagonit.recipe.cmmi = 1.1.1
hexagonit.recipe.download = 1.2.0
setuptools = 0.6c8

[parts]
directory=${buildout:directory}

[libnull]
location=${project:dependencies}/replace/part
include=${project:dependencies}/replace/part/include
lib=${project:dependencies}/replace/part/lib
[freetype]
location=${project:dependencies}/freetype-2.1.0/part
include=${project:dependencies}/freetype-2.1.0/part/include
lib=${project:dependencies}/freetype-2.1.0/part/lib
[openssl]
location=${project:dependencies}/openssl-0.9/part
include=${project:dependencies}/openssl-0.9/part/include
lib=${project:dependencies}/openssl-0.9/part/lib
[zlib]
location=${project:dependencies}/zlib-1.2/part
include=${project:dependencies}/zlib-1.2/part/include
lib=${project:dependencies}/zlib-1.2/part/lib
[db]
location=${project:dependencies}/db-4.4/part
include=${project:dependencies}/db-4.4/part/include
lib=${project:dependencies}/db-4.4/part/lib

[part]
recipe = minitage.recipe.cmmi
url = ftp://ftp.andrew.cmu.edu/pub/cyrus-mail/cyrus-sasl-2.1.22.tar.gz
md5sum = 45dde9d19193ae9dd388eb68b2027bc9
configure-options =
    --enable-staticdlopen
    --enable-keep-db-open
    --enable-cram
    --enable-digest
    --enable-plain
    --enable-anon
    --enable-login
    --enable-passdss
    --disable-auth-sasldb
    --with-rc4=openssl
    --with-openssl=${openssl:location}
    --with-bdb-libdir=${db:lib}
    --with-bdb-incdir=${db:include}
    --disable-auth-sasldb
    --enable-shared
    --disable-static
    --with-dblib=berkeley
    --with-plugindir=${buildout:directory}/part/lib/sasl2
    --with-configdir=${buildout:directory}/part/lib/sasl2
    --includedir=${buildout:directory}/part/include
    CFLAGS="-I${db:include} -I${openssl:include} -I${freetype:location}/include -I${openssl:include}/openssl -I${zlib:include}"
    LDFLAGS="$(bash -c "if [[ $(uname) == 'Darwin' ]];then echo '-mmacosx-version-min=10.5.0';fi") -L${db:lib} -Wl,-rpath -Wl,${db:lib} -L${zlib:lib} -Wl,-rpath -Wl,${zlib:lib} -L${openssl:lib} -L${freetype:lib} -Wl,-rpath -Wl,${openssl:lib} -Wl,-rpath -Wl,${freetype:lib} -Wl,-rpath -Wl,${parts:directory}/part/lib "
pre-make-hook=${buildout:hooks-directory}/setenv.py:getsaslenv

[mirrors]
minitage = distfiles.minitage.org
